<section ng-controller="OrderCtrl" ng-init="getExercises()">
<div class="row">
  <div class="col-sm-offset-2">
  <div class="btn btn-default" ng-class="{'active':asubj.active===subject}" 
    ng-click="asubj.active=subject" ng-repeat="subject in subjectNames">
    {{subject}}</div>
  <div class="btn btn-default" ng-click="reset()">Reset</div>
  &nbsp;<span id="single_clippy"></span>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">How to Edit</h4>
      </div>
      <div class="modal-body">
        Edit the exercises by choosing a subject, or create a new exercise by clicking the "&#43;".
        When you are done, come back to this page and click the "copy" icon. This will copy the
        JSON to your clipboard. Then, fork the <a href="http://github.com/zwhitchcox/terminal">github project</a>
        and replace the JSON in "clis.json" with the JSON from your clipboard. If I merge the pull request,
        it will be added to the project.
        <br><br>
        I want to offer my sincere thanks to anyone who does this. You're a rockstar.
        <br><br>If you have other suggestions, please go to <a href="http://reddit.com/r/lexadventures">the subreddit</a>
        and make a comment.
        <br><br>
        Thanks, hope you're enjoying the app :)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<br>
<div class="row">
<div class="col-xs-4">
<select ng-model="cur.module" ng-options="key as key for (key,value) in subjects[asubj.active]" placeholder="module" class="form-control"></select>
</div>
<div class="col-xs-3">
  <div class="form-group">
  <input ng-model="cur.challenge" placeholder="challenge" class="form-control">
</div>
</div>
<div class="col-xs-3">
  <div class="form-group">
  <input ng-model="cur.sample" placeholder="sample" class="form-control">
</div>
</div>
</div>
<br>
<ul class="subjects unstyled list-group col-md-8 shadowed-list-group">
<span ng-repeat="(module,exercises) in subjects[asubj.active] |  module:cur.module">
  <h2>{{module}}</h2>
    <li class="list-group-item" ng-repeat="exercise in exercises | filter: {challenge:cur.challenge} | filter: {sample:cur.sample} track by $index">
      <a class="btn btn-glyph pull-left" data-toggle="modal" data-target="#exerciseEdit" ng-click="save('edit'); setCur(exercise)">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-glyph pull-left" ng-click="remove(exercise)">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
      {{exercise.challenge}}
    </li>
</span>
</ul>


<div class="modal fade" id="exerciseEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{curX.challenge}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="exerciseForm">
        <div class="form-group">
        <label class="col-sm-2 control-label">Subject</label>
        <div class="col-sm-4">
        <select ng-model="curX.subject" ng-options="key as key for (key,value) in subjects" class="form-control"></select>
        </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Module</label>
        <div class="col-sm-4">
          <select ng-model="curX.module" ng-options="key as key for (key,value) in subjects[curX.subject]"
          class="form-control">
          </select>
        </div>
        <div class="col-sm-4">
          <input ng-model="curX.module" class="form-control">
        </div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-2 control-label">Challenge</label>
        <div class="col-sm-9">
            <textarea class="form-control" ng-trim="false" ng-model="curX.challenge" rows="3"></textarea>
        </div>
        </div>
        
        <div class="form-group" ng-class="{'has-error':!val(curX)}">
          <label class="col-sm-2 control-label">Sample</label>
        <div class="col-sm-9">
            <textarea class="form-control" ng-trim="false" ng-model="curX.sample" rows="7"
              style="font-family:monospace;"></textarea>
        </div>
        </div>
        
        
        <div class="form-group">
        <label class="col-sm-2 control-label">Check</label>
        <div class="col-sm-9">
            <textarea class="form-control" ng-trim="false" ng-model="curX.check" rows="7"
              style="font-family:monospace;"></textarea>
        </div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-2 control-label">Output</label>
        <div class="col-sm-9">
            <textarea class="form-control" ng-model="curX.output" rows="7"
              style="font-family:monospace;"></textarea>
        </div>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-click="update()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


</section>
